{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% load static %} 


{% block content %} 
<section>
    <div class="container">
        {% for data in news_data %}
            <div class="row post-box">
                <div class="col-sm-3">
                    <div class="post-image">
                        <img src="{{ data.urlToImage }}" alt="width:100%">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="card">            
                        <div class="card-body">
                        <h5 class="card-title">{{ data.title }}</h5>
                        <p class="card-text">{{ data.description|safe }}</p>
                        <div class="more-box">
                            <a href="{{ data.url }}" target="_blank" class="btn btn-primary">More</a>
                            <a class="time"> {{ data.publishedAt }} </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>
</section>

<script>
    setTimeout(() => {
        window.location.reload()
    }, 5555000);
</script>

{% endblock %}
