{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% load static %} 


{% block content %} 
<section>
    <div class="container">
        <div class="row post-box">
            <div class="col-sm-3">
                <div class="post-image">
                    <img src="{% static 'images/istockphoto.jpg' %}" alt="width:100%">
                </div>
            </div>
            <div class="col-sm-9">
                <div class="card">            
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis dolore ea repudiandae in debitis voluptatibus, ipsum dicta. Possimus voluptates quae distinctio, iusto at sint vel, nobis, magni ipsum odio maiores eaque dicta cupiditate totam officia adipisci excepturi id pariatur cumque nisi alias unde voluptatibus nihil sequi? Quas doloribus et modi. </p>
                      <div class="more-box">
                        <a href="/home/details/" class="btn btn-primary">More</a>
                        <a class="time">Time: 22/06/2020 <span>10.10am </span> </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row post-box">
            <div class="col-sm-3">
                <div class="post-image">
                    <img src="{% static 'images/istockphoto.jpg' %}" alt="width:100%">
                </div>
            </div>
            <div class="col-sm-9">
                <div class="card">            
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis dolore ea repudiandae in debitis voluptatibus, ipsum dicta. Possimus voluptates quae distinctio, iusto at sint vel, nobis, magni ipsum odio maiores eaque dicta cupiditate totam officia adipisci excepturi id pariatur cumque nisi alias unde voluptatibus nihil sequi? Quas doloribus et modi. </p>
                      <div class="more-box">
                        <a href="/home/details/" class="btn btn-primary">More</a>
                        <a class="time">Time: 22/06/2020 <span>10.10am </span> </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row post-box">
            <div class="col-sm-3">
                <div class="post-image">
                    <img src="{% static 'images/istockphoto.jpg' %}" alt="width:100%">
                </div>
            </div>
            <div class="col-sm-9">
                <div class="card">            
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis dolore ea repudiandae in debitis voluptatibus, ipsum dicta. Possimus voluptates quae distinctio, iusto at sint vel, nobis, magni ipsum odio maiores eaque dicta cupiditate totam officia adipisci excepturi id pariatur cumque nisi alias unde voluptatibus nihil sequi? Quas doloribus et modi. </p>
                      <div class="more-box">
                        <a href="/home/details/" class="btn btn-primary">More</a>
                        <a class="time">Time: 22/06/2020 <span>10.10am </span> </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row post-box">
            <div class="col-sm-3">
                <div class="post-image">
                    <img src="{% static 'images/istockphoto.jpg' %}" alt="width:100%">
                </div>
            </div>
            <div class="col-sm-9">
                <div class="card">            
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis dolore ea repudiandae in debitis voluptatibus, ipsum dicta. Possimus voluptates quae distinctio, iusto at sint vel, nobis, magni ipsum odio maiores eaque dicta cupiditate totam officia adipisci excepturi id pariatur cumque nisi alias unde voluptatibus nihil sequi? Quas doloribus et modi. </p>
                      <div class="more-box">
                        <a href="/home/details/" class="btn btn-primary">More</a>
                        <a class="time">Time: 22/06/2020 <span>10.10am </span> </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}
